<style>
body {background-color: #fffff2;}
h1   {color: blue;}
p    {color: blue; font-size:25px;}
h2   {color: blue; font-size:25px;}
h3   {color: blue; font-size:25px;}
h4   {color: blue; font-size:25px;}
h5   {color: blue; font-size:25px;}
h6   {color: blue; font-size:25px;}

</style>
