body{
 background-color:#fffff2;
}


.main {
    float: left;
    width: 50%;
}
.main li{
  padding: 30px;
}
/* Clear floats after the columns */
.imp.:after {
    content: "";
    display: table;
    clear: both;
}
